<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.doumiao.wg-toggle.helper</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/wg-toggle-helper</string>
	<key>MachServices</key>
	<dict>
		<key>com.doumiao.wg-toggle.helper</key>
		<true/>
	</dict>
</dict>
</plist>
